﻿
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    color: #b4aca8;
    font-size: 14px;
    background: #14100f;
}

    #footer .footer-top {
        padding: 60px 0 30px 0;
        background: black;
    }

        #footer .footer-top .footer-contact {
            margin-bottom: 30px;
        }

            #footer .footer-top .footer-contact h3 {
                font-size: 22px;
                margin: 0 0 10px 0;
                padding: 2px 0 2px 0;
                line-height: 1;
                font-weight: 500;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #fff;
            }

            #footer .footer-top .footer-contact p {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 0;
                font-family: "Muli", sans-serif;
                color: #b4aca8;
            }

        #footer .footer-top h4 {
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            position: relative;
            padding-bottom: 12px;
        }

        #footer .footer-top .footer-links {
            margin-bottom: 30px;
        }

            #footer .footer-top .footer-links ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

                #footer .footer-top .footer-links ul i {
                    padding-right: 2px;
                    color: #fd6f41;
                    font-size: 18px;
                    line-height: 1;
                }

                #footer .footer-top .footer-links ul li {
                    padding: 10px 0;
                    display: flex;
                    align-items: center;
                }

                    #footer .footer-top .footer-links ul li:first-child {
                        padding-top: 0;
                    }

                #footer .footer-top .footer-links ul a {
                    color: #b4aca8;
                    transition: 0.3s;
                    display: inline-block;
                    line-height: 1;
                }

                    #footer .footer-top .footer-links ul a:hover {
                        text-decoration: none;
                        color: #fd6f41;
                    }

    #footer .footer-newsletter {
        font-size: 15px;
    }

        #footer .footer-newsletter h4 {
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            position: relative;
            padding-bottom: 12px;
        }

        #footer .footer-newsletter form {
            margin-top: 30px;
            background: #fff;
            padding: 6px 10px;
            position: relative;
            border-radius: 4px 0 0 4px;
            text-align: left;
        }

            #footer .footer-newsletter form input[type="email"] {
                border: 0;
                padding: 4px 8px;
                width: calc(100% - 100px);
            }

            #footer .footer-newsletter form input[type="submit"] {
                position: absolute;
                top: 0;
                right: -4px;
                bottom: 0;
                border: 0;
                background: none;
                font-size: 16px;
                padding: 0 20px;
                background: #03d133;
                color: #fff;
                transition: 0.3s;
                border-radius: 0 4px 4px 0;
                box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
            }

                #footer .footer-newsletter form input[type="submit"]:hover {
                    background: #fd5c28;
                }

    #footer .credits {
        padding-top: 5px;
        font-size: 13px;
        color: #b4aca8;
    }

    #footer .social-links a {
        font-size: 18px;
        display: inline-block;
        background: #03d133;
        color: #fff;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
    }

        #footer .social-links a:hover {
            background: #fd5c28;
            color: #fff;
            text-decoration: none;
        }


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #f03c02;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

    .back-to-top i {
        font-size: 28px;
        color: #fff;
        line-height: 0;
    }

    .back-to-top:hover {
        background: #fd541e;
        color: #fff;
    }

    .back-to-top.active {
        visibility: visible;
        opacity: 1;
    }

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

