﻿@using BookTour.Share.Model.DTOs.Tour
@if (Items != null && Items.Any())
{
    <div class="row">
        @foreach (var item in Items)
        {
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="@item.MainImage" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.TourName</h5>
                    <p class="card-text">@item.Destination</p>
                    <a href="/tour-detail/@item.TourId" class="btn btn-outline-primary">Detail</a>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No items available.</p>
}

@code {
    [Parameter]
    public IEnumerable<TourDTO> Items { get; set; }
}