﻿@using BookTour.Share.Model.DTOs

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @foreach (var item in Items)
        {
            <div class="carousel-item @(item.IsMain==true?"active":"")">
                <img src="@item.ImageUrl" class="d-block w-100" style="max-height: 400px" alt="@item.ImageText">
            </div>
        }

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@code {
    [Parameter]
    public IEnumerable<ImageDTO> Items { get; set; }
}
