﻿/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 15px 0;
    background: #2b2320;
    min-height: 40px;
}

    .breadcrumbs h2 {
        font-size: 28px;
        font-weight: 300;
        color: #fff;
    }

    .breadcrumbs ol {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        color: #ded5d2;
    }

        .breadcrumbs ol a {
            color: #fe825a;
        }

        .breadcrumbs ol li + li {
            padding-left: 10px;
        }

            .breadcrumbs ol li + li::before {
                display: inline-block;
                padding-right: 10px;
                color: #c8bab5;
                content: "/";
            }

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }

    .breadcrumbs ol {
        display: block;
    }

        .breadcrumbs ol li {
            display: inline-block;
        }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .clients-wrap {
  border-top: 1px solid #f1eeed;
  border-left: 1px solid #f1eeed;
}

.clients .client-logo {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #f1eeed;
  border-bottom: 1px solid #f1eeed;
  overflow: hidden;
  background: #fff;
  height: 100px;
}

.clients .client-logo img {
  transition: all 0.3s ease-in-out;
  height: 36px;
  filter: grayscale(100%);
}

.clients .client-logo:hover img {
  filter: none;
  transform: scale(1.1);
}



/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about-us .content {
    padding: 30px 0;
}

    .about-us .content h3 {
        font-weight: 700;
        font-size: 34px;
    }

    .about-us .content p {
        margin-bottom: 0;
    }

    .about-us .content .icon-box {
        margin-top: 25px;
    }

        .about-us .content .icon-box h4 {
            font-size: 20px;
            font-weight: 700;
            margin: 5px 0 10px 60px;
        }

        .about-us .content .icon-box i {
            font-size: 48px;
            float: left;
            color: #03d133;
        }

        .about-us .content .icon-box p {
            font-size: 15px;
            color: #90847f;
            margin-left: 60px;
        }

.about-us .image {
    background: url("https://lh3.googleusercontent.com/p/AF1QipN5a3DDNmFMRm76LYjuVf4DwJycu0lyXdbU4d0U=s1360-w1360-h1020") center center no-repeat;
    background-size: cover;
    min-height: 400px;
}

@media (max-width: 991px) {
    .about-us .image {
        text-align: center;
    }

        .about-us .image img {
            max-width: 80%;
        }
}

@media (max-width: 667px) {
    .about-us .image img {
        max-width: 100%;
    }
}

/*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
.team .member {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

    .team .member .member-img {
        position: relative;
        overflow: hidden;
    }

    .team .member .social {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 40px;
        opacity: 0;
        transition: ease-in-out 0.3s;
        background: rgba(255, 255, 255, 0.85);
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .team .member .social a {
            transition: color 0.3s;
            color: #2b2320;
            margin: 0 10px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

            .team .member .social a:hover {
                color: #03d133;
            }

        .team .member .social i {
            font-size: 18px;
            line-height: 0;
        }

    .team .member .member-info {
        padding: 25px 15px;
    }

        .team .member .member-info h4 {
            font-weight: 700;
            margin-bottom: 5px;
            font-size: 18px;
            color: #2b2320;
        }

        .team .member .member-info span {
            display: block;
            font-size: 13px;
            font-weight: 400;
            color: #b4aca8;
        }

        .team .member .member-info p {
            font-style: italic;
            font-size: 14px;
            line-height: 26px;
            color: #847872;
        }

    .team .member:hover .social {
        opacity: 1;
    }

/*--------------------------------------------------------------
# Our Skills
--------------------------------------------------------------*/
.skills .progress {
    height: 50px;
    display: block;
    background: none;
}

    .skills .progress .skill {
        padding: 0;
        margin: 0 0 6px 0;
        text-transform: uppercase;
        display: block;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        color: #2b2320;
    }

        .skills .progress .skill .val {
            float: right;
            font-style: normal;
        }

.skills .progress-bar-wrap {
    background: #ded5d2;
}

.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #03d133;
}
