﻿@page "/change-password/{Email}/{Id}"
@using Blazored.Toast.Services
@using BookTour.Share.Model.DTOs
@using BookTour.Wasm.IServices
@using Microsoft.AspNetCore.Authorization
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@attribute [Authorize]
<div class="container-fluid">
    <div class="row">
        <nav class="offset-1 col-md-3 col-lg-2 d-md-block sidebar">
            <div class="sidebar-sticky">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/user/@(Id)">Thông tin cá nhân</a></li>
                    <li class="list-group-item"><a href="/payment/user/@(Id)">Lịch sử giao dịch</a></li>
                    <li class="list-group-item"><a href="/change-password">Đổi mật khẩu</a></li>
                </ul>
            </div>
        </nav>

        <main role="main" class="offset-1 col-md-3 ml-sm-auto col-lg-6 px-md-2">
            <div class="content">
                <h2>Điền thông tin</h2>
                <EditForm Model="changePasswordDTO" OnValidSubmit="HandleChangePassword">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="name">Mật khẩu cũ:</label>
                        <InputText @bind-Value="changePasswordDTO.CurrentPassword" type="password" class="form-control" id="name" name="name" />
                        <ValidationMessage For="@(()=> changePasswordDTO.CurrentPassword)" />
                    </div>
                    <div class="form-group">
                        <label for="name">Mật khẩu mới:</label>
                        <InputText @bind-Value="changePasswordDTO.NewPassword" type="password" class="form-control" id="name" name="name" />
                        <ValidationMessage For="@(()=> changePasswordDTO.NewPassword)" />
                    </div>

                    <button type="submit" class="btn btn-outline-primary my-3">Lưu</button>
                </EditForm>
            </div>
        </main>
    </div>
</div>


@code {
    [Parameter]
    public string Email { get; set; }
    [Parameter]
    public string Id { get; set; }
    [Inject]
    private IConsumeAPIService consumeAPIService { get; set; }
    [Inject]
    private IToastService ToastService { get; set; }

    [Inject]
    private IJSRuntime jSRuntime { get; set; }

    public ChangePasswordDTO changePasswordDTO = new ChangePasswordDTO();

    public async Task HandleChangePassword()
    {
        try
        {
            changePasswordDTO.Email = Email;
            consumeAPIService.SetBearerToken(await jSRuntime.InvokeAsync<string>("localStorage.getItem", "userToken"));
            string result = await consumeAPIService.PostAsync("authen/change-password", changePasswordDTO);
            if (!string.IsNullOrEmpty(result))
            {
                var resultJson = JObject.Parse(result);
                if (resultJson["isSucess"].ToString().Equals("False"))
                {
                    ToastService.ShowError("Có lỗi xảy ra");
                    return;
                }
                ToastService.ShowInfo("Cập nhật thành công");
                return;
            }
            ToastService.ShowError("Có lỗi xảy ra");
        }
        catch (Exception)
        {
            ToastService.ShowError("Có lỗi xảy ra");
        }

    }
}
