﻿@page "/"
@using BookTour.Share.Model.DTOs.Tour
@using BookTour.Wasm.IServices
@using BookTour.Wasm.Services
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq

<PageTitle>Home</PageTitle>

<!-- ======= Hero Section ======= -->
<BookTour.Razor.Component.Carousel></BookTour.Razor.Component.Carousel>
<!-- End Hero -->

<main id="main">
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row portfolio-container">
                @if (!listItems.Any())
                {
                    <p>Loading ...</p>
                }
                else
                {
                    <BookTour.Razor.Component.Portfolio Items="listItems"></BookTour.Razor.Component.Portfolio>
                }
            </div>
        </div>
    </section>


</main><!-- End #main -->
@code {
    [Inject]
    private IConsumeAPIService consumeAPIService { get; set; }

    private bool IsLoading = false;
    IEnumerable<TourDTO> listItems = new List<TourDTO>();
    protected override async Task OnInitializedAsync()
    {
        var result = await consumeAPIService.GetALlTourAsync();
        var reultJson = JObject.Parse(result);
        listItems = JsonConvert.DeserializeObject<IEnumerable<TourDTO>>(reultJson["result"].ToString());

    }
}