﻿@page "/login"
@using Blazored.Toast.Services
@using BookTour.Share.Model.DTOs
@using BookTour.Wasm.Authentication
@using BookTour.Wasm.IServices
@using Microsoft.AspNetCore.Components.Authorization
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IToastService ToastService
<div class="container">
    <div class="login-form">
        <h2>Login</h2>
        <EditForm Model="@loginModel" OnValidSubmit="PerformLogin">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="username">Username</label>
                <InputText @bind-Value="loginModel.UserName" type="text" class="form-control" id="username" placeholder="Enter your username"/>
                <ValidationMessage For="@(()=> loginModel.UserName)"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText @bind-Value="loginModel.Password" type="password" class="form-control" id="password" placeholder="Enter your password"/>
                <ValidationMessage For="@(()=> loginModel.Password)" />
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary btn-block">Login</button>
            </div>
        </EditForm>
        <div class="text-center mt-3">
            <p><a href="/forget-password">Forgot password?</a></p>
        </div>
    </div>
</div>
@code {
    [Inject]
    private IConsumeAPIService consumeAPIService { get; set; }
    [Inject]
    private NavigationManager navigationManager { get; set; }
    [Inject]
    private IJSRuntime jSRuntime { get; set; }
    private LoginRequestDTO loginModel = new LoginRequestDTO();
    private string result;

    private async Task PerformLogin()
    {
        try
        {
            result = await consumeAPIService.LoginAsync(loginModel);
            var resultJson = JObject.Parse(result);
            if (resultJson["isSucess"].ToString().Equals("false"))
            {
                ToastService.ShowError(resultJson["message"].ToString());
                return;
            }
            var user = JsonConvert.DeserializeObject<LoginResponseDTO>(resultJson["result"].ToString());
            var authStateProvider = (CustomAuthenticationStateProvider)AuthenticationStateProvider;
            authStateProvider.MarkUserAsAuthenticated(user.User.Email, user.User.ID, user.Token);
            await jSRuntime.InvokeVoidAsync("localStorage.setItem", "userToken", user.Token);
            await jSRuntime.InvokeVoidAsync("localStorage.setItem", "accountId", user.User.ID);
            navigationManager.NavigateTo("/");
            ToastService.ShowSuccess("Đăng nhập thành công");
        }
        catch (Exception)
        {

            ToastService.ShowError("Đăng nhập thất bại");
        }

    }
}