﻿@page "/payment"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<div class="container">
    <h2>Thanh toán thành công</h2>
    <div class="icon-container">
        <i class="fa fa-check-circle fa-8x fa-beat-fade"></i>
    </div>
    <a class="btn next-btn" href="/">Next</a>
</div>
@code{

}