﻿@page "/register"
@using Blazored.Toast.Services
@using BookTour.Share.Model.DTOs
@using BookTour.Wasm.IServices
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inject IToastService ToastService
<div class="container">
    <div class="register-form">
        <h2>Register</h2>
        <EditForm Model="@registrationRequestDTO" OnValidSubmit="HandleRegister">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="email">Email</label>
                <InputText @bind-Value="registrationRequestDTO.Email" type="email" class="form-control" id="email" placeholder="Enter your email"/>
                <ValidationMessage For="@(()=> registrationRequestDTO.Email)" />
            </div>
            <div class="form-group">
                <label for="fullname">Full Name</label>
                <InputText @bind-Value="registrationRequestDTO.FullName" type="text" class="form-control" id="fullname" placeholder="Enter your full name" />
                <ValidationMessage For="@(()=> registrationRequestDTO.FullName)" />
            </div>
            <div class="form-group">
                <label for="phonenumber">Phone Number</label>
                <InputText @bind-Value="registrationRequestDTO.PhoneNumber" type="text" class="form-control" id="phonenumber" placeholder="Enter your phone number" />
                <ValidationMessage For="@(()=> registrationRequestDTO.PhoneNumber)" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText @bind-Value="registrationRequestDTO.Password" type="password" class="form-control" id="password" placeholder="Enter your password" />
                <ValidationMessage For="@(()=> registrationRequestDTO.Password)" />
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary btn-block">Register</button>
            </div>
        </EditForm>
        <div class="text-center mt-3">
            <p>Already have an account? <a href="/login">Login now</a></p>
        </div>
    </div>
</div>
@code {
    private RegistrationRequestDTO registrationRequestDTO = new RegistrationRequestDTO();
    [Inject]
    private IConsumeAPIService consumeAPIService { get; set; }
    [Inject]
    private NavigationManager navigationManager { get; set; }

    public string Message = "";

    public async Task HandleRegister()
    {
        try
        {
            registrationRequestDTO.Role = "User";
            var result = await consumeAPIService.PostAsync("/authen/register", registrationRequestDTO);
            var resultJson = JObject.Parse(result);
            if (resultJson["isSucess"].ToString().Equals("false"))
            {
                ToastService.ShowError(resultJson["message"].ToString());
            }
            else
            {
                ToastService.ShowInfo("Vui lòng kiểm tra email để xác nhận tài khoản");
            }
        }
        catch (Exception)
        {
            ToastService.ShowError("Đăng ký thất bại");
        }

    }
}

