﻿@page "/tours"
@using Blazored.Toast.Services
@using BookTour.Share.Model.DTOs.Tour
@using BookTour.Wasm.IServices
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inject IToastService ToastService

<div class="search-container">
    <input @bind="Destination" type="text" id="search-box" placeholder="Nhập điểm đến...">
    <button id="btn btn-lg btn-outline-primary" @onclick="HandleSearch">Tìm Kiếm</button>
</div>
<div class="filter-container">
    <button class="filter-btn" @onclick="HandleFilterPrice">Giá @(State == true ? "tăng dần" : "giảm dần")</button>
</div>
<div class="tour-list">
    @if (!Items.Any())
    {
        <p>loading....</p>
    }
    else
    {
        <BookTour.Razor.Component.Portfolio Items="Items"></BookTour.Razor.Component.Portfolio>
    }
</div>

@code {
    [Inject]
    private IConsumeAPIService consumeAPIService { get; set; }
    [Inject]
    private NavigationManager navigationManager { get; set; }

    public bool State = true;

    public string Destination = "";

    public IEnumerable<TourDTO> Items = new List<TourDTO>();

    protected override async Task OnInitializedAsync()
    {
        var result = await consumeAPIService.GetALlTourAsync();
        var reultJson = JObject.Parse(result);
        Items = JsonConvert.DeserializeObject<IEnumerable<TourDTO>>(reultJson["result"].ToString());
    }

    public async Task HandleFilterPrice()
    {
        try
        {
            var result = await consumeAPIService.GetAsync($"api/tour/filter/price/{State}");
            var reultJson = JObject.Parse(result);
            Items = JsonConvert.DeserializeObject<IEnumerable<TourDTO>>(reultJson["result"].ToString());
            State = !State;
        }
        catch (Exception)
        {
            ToastService.ShowError("Có lỗi xảy ra");
        }

    }

    public async Task HandleSearch()
    {
        try
        {
            var result = await consumeAPIService.GetAsync($"api/tour/destination/{Destination}");
            var reultJson = JObject.Parse(result);
            Items = JsonConvert.DeserializeObject<IEnumerable<TourDTO>>(reultJson["result"].ToString());
        }
        catch (Exception)
        {
            ToastService.ShowError("Có lỗi xảy ra");
        }
    }
}