﻿@page "/tour-detail/{Id}"
@using Blazored.Toast.Services
@using BookTour.Share.Model.DTOs
@using BookTour.Share.Model.DTOs.Booking
@using BookTour.Share.Model.DTOs.Tour
@using BookTour.Wasm.IServices
@using Microsoft.AspNetCore.Components.Authorization
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IToastService ToastService
@if (TourDetail != null)
{
    <div class="container-fluid">
        <div class="row">
            <div class="offset-2 col-4 ">
                <h2>@TourDetail.TourName</h2>
            </div>
            <div class="col-4 d-flex align-items-center justify-content-between">
                <div class="d-flex flex-column w-100">
                    <div class="d-flex align-items-center justify-content-end">
                        <input @bind="NumberOfPeople" type="number" class="form-control form-control-lg me-2" placeholder="Số lượng người" min="1" id="quantityInput" style="width: auto; flex-grow: 1;">
                        <a class="btn btn-danger btn-lg" @onclick="HandleBook">Đặt ngay <span class="price-next-to-button">@TourDetail.PricePerPerson.ToString()VND/1 người </span></a>
                    </div>
                    <button class="btn btn-outline-info w-100 mt-2">Tư vấn</button>
                </div>
            </div>
        </div>
        <div class="tour-details">
            <div class="gallery-container my-4 mx-auto text-center" style="max-width: 60%">
                <BookTour.Razor.Component.TourDetailCarousel Items="Items"></BookTour.Razor.Component.TourDetailCarousel>
            </div>
            <div class="">
                <div class="row">
                    <div class="col-3 offset-3">
                        <p><strong>Mô tả:</strong> @TourDetail.Description</p>
                        <p><strong>Thời gian:</strong> @TourDetail.TourDuration days</p>
                        <p><strong>Điểm xuất phát:</strong> @TourDetail.Start</p>
                        <p><strong>Điểm đến:</strong> @TourDetail.Destination</p>
                    </div>
                    <div class="col-6">
                        <p><strong>Thời gian đi:</strong>@TourDetail.StartDate.ToString("dd/MM/yyyy")</p>
                        <p><strong>Thời gian kết thúc:</strong> @TourDetail.EndDate.ToString("d")</p>
                        <p><strong>Phương tiện chính:</strong> @TourDetail.TransportationName</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
else
{
    <p> Loading...</p>
}


@code {
    [Parameter]
    public string Id { get; set; }
    [Inject]
    private IConsumeAPIService consumeAPIService { get; set; }
    [Inject]
    private NavigationManager navigationManager { get; set; }
    [Inject]
    private IJSRuntime JSRuntime { get; set; }

    public int NumberOfPeople = 0;
    public bool IsLogin = false;
    private IEnumerable<ImageDTO> Items = new List<ImageDTO>();
    public TourDetailsDTO TourDetail = null;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            if (authState.User.Identity.IsAuthenticated)
            {
                IsLogin = true;
            }
            var result = await consumeAPIService.GetAsync($"api/tour/{Id}");
            var resultJson = JObject.Parse(result);
            TourDetail = JsonConvert.DeserializeObject<TourDetailsDTO>(resultJson["result"].ToString());
            var resultImage = await consumeAPIService.GetAsync($"api/image/tour/{Id}");
            var resultImageJson = JObject.Parse(resultImage);
            Items = JsonConvert.DeserializeObject<IEnumerable<ImageDTO>>(resultImageJson["result"].ToString());
        }
        catch (Exception)
        {
            ToastService.ShowError("Có lỗi xảy ra");
        }

    }

    public async Task HandleBook()
    {
        if (!IsLogin)
        {
            ToastService.ShowError("Bạn cần đăng nhập để thực hiện đặt tour.");
            return;
        }
        if (NumberOfPeople <= 0)
        {
            ToastService.ShowError("Số người không hợp lệ");
            return;
        }
        var userid = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "accountId");
        BookingDTO model = new()
            {
                BookingDate = DateTime.Now,
                NumberOfPeople = NumberOfPeople,
                TotalCost = TourDetail.PricePerPerson * NumberOfPeople,
                TourId = TourDetail.TourId,
                UserId = userid
            };
        try
        {
            var token = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "userToken");
            consumeAPIService.SetBearerToken(token);
            var result = await consumeAPIService.PostAsync("api/booking", model);
            var resultJson = JObject.Parse(result);
            if (resultJson["isSucess"].Equals("false"))
            {
                ToastService.ShowError("Có lỗi xảy ra");
                return;
            }
            var modelReturn = JsonConvert.DeserializeObject<BookingDTO>(resultJson["result"].ToString());
            PaymentDTO payment = new PaymentDTO
                {
                    Amount = model.TotalCost,
                    BookingID = modelReturn.BookingId,
                    IsCompleted = true,
                    PaymentDate = DateTime.UtcNow,
                    PaymentMethod = "Credit card"
                };
            try
            {
                consumeAPIService.SetBearerToken(token);
                var resultPayment = await consumeAPIService.PostAsync("api/payment", payment);
                ToastService.ShowInfo("Đặt thành công");
                navigationManager.NavigateTo("/payment");
            }
            catch (Exception ex)
            {
                ToastService.ShowError(ex.Message);
            }
            
        }
        catch (Exception)
        {

            ToastService.ShowError("Có lỗi xảy ra");
        }
    }
}

