﻿body {
    font-family: Arial, sans-serif;
}

.search-container, .filter-container {
    margin: 20px;
    text-align: center;
}

#search-box {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
}

.filter-btn {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: #0056b3;
}

.tour-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.tour-card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.tour-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.tour-info {
    padding: 15px;
}

.tour-info h3 {
    margin: 0;
    margin-bottom: 10px;
}

.tour-info p {
    margin: 5px 0;
}

body {
    font-family: Arial, sans-serif;
}

.search-container, .filter-container {
    margin: 20px;
    text-align: center;
}

#search-box {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
}

.filter-btn {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

    .filter-btn:hover {
        background-color: #0056b3;
    }

.tour-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.tour-card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

    .tour-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

.tour-info {
    padding: 15px;
}

    .tour-info h3 {
        margin: 0;
        margin-bottom: 10px;
    }

    .tour-info p {
        margin: 5px 0;
    }
