﻿@page "/user/{Id}"
@using Blazored.Toast.Services
@using BookTour.Share.Model.DTOs
@using BookTour.Wasm.IServices
@using Microsoft.AspNetCore.Authorization
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@attribute [Authorize]
<div class="container-fluid">
    <div class="row">
        <nav class="offset-1 col-md-3 col-lg-2 d-md-block sidebar">
            <div class="sidebar-sticky">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/user/@(Id)">Thông tin cá nhân</a></li>
                    <li class="list-group-item"><a href="/payment/user/@(Id)/@(updateProfileRequestDTO.Email)">Lịch sử giao dịch</a></li>
                    <li class="list-group-item"><a href="/change-password/@(updateProfileRequestDTO.Email)/@(Id)">Đổi mật khẩu</a></li>
                </ul>
            </div>
        </nav>

        <main role="main" class="offset-1 col-md-3 ml-sm-auto col-lg-6 px-md-2">
            <div class="content">
                <h2>Điền thông tin</h2>
                <EditForm Model="updateProfileRequestDTO" OnValidSubmit="HandleUpdateProfile">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="name">Tên:</label>
                        <InputText @bind-Value="updateProfileRequestDTO.Name" type="text" class="form-control" id="name" name="name" />
                        <ValidationMessage For="@(()=> updateProfileRequestDTO.Name)" />
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input @bind="updateProfileRequestDTO.Email" type="email" class="form-control" id="email" name="email" readonly />
                        <ValidationMessage For="@(()=> updateProfileRequestDTO.Email)" />
                    </div>

                    <div class="form-group">
                        <label for="phoneNumber">Số điện thoại:</label>
                        <InputText @bind-Value="updateProfileRequestDTO.PhoneNumber" type="tel" class="form-control" id="phoneNumber" name="phoneNumber" />
                        <ValidationMessage For="@(()=> updateProfileRequestDTO.PhoneNumber)" />
                    </div>

                    <button type="submit" class="btn btn-outline-primary my-3">Lưu</button>
                </EditForm>
            </div>
        </main>
    </div>
</div>


@code {
    [Parameter]
    public string Id { get; set; }
    [Inject]
    private IConsumeAPIService consumeAPIService { get; set; }
    [Inject]
    private IToastService ToastService { get; set; }
    [Inject]
    private IConsumeAPIService ConsumeAPIService { get; set; }
    [Inject]
    private IJSRuntime jSRuntime { get; set; }
    public UpdateProfileRequestDTO updateProfileRequestDTO = new UpdateProfileRequestDTO();

    protected override async Task OnInitializedAsync()
    {
        var result = await consumeAPIService.GetAsync($"authen/get-profile/{Id}");
        var resultJson = JObject.Parse(result);
        updateProfileRequestDTO = JsonConvert.DeserializeObject<UpdateProfileRequestDTO>(resultJson.ToString());
    }

    public async Task HandleUpdateProfile()
    {
        try
        {
            updateProfileRequestDTO.UserId = Id;
            consumeAPIService.SetBearerToken(await jSRuntime.InvokeAsync<string>("localStorage.getItem", "userToken"));
            string result = await consumeAPIService.PutAsync("authen/update-profile", updateProfileRequestDTO);
            if (!string.IsNullOrEmpty(result))
            {
                ToastService.ShowInfo("Cập nhật thành công");
                return;
            }
            ToastService.ShowError("Có lỗi xảy ra");
        }
        catch (Exception)
        {
            ToastService.ShowError("Có lỗi xảy ra");
        }

    }
}
