﻿@using Blazored.Toast.Services
@using BookTour.Wasm.IServices
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IToastService ToastService
@page "/verify-email"
@if (string.IsNullOrEmpty(token) & string.IsNullOrEmpty(id))
{
    <h1>Đang xác thực email...</h1>
}
else
{   
    <h1>Đã xác thực thành công. <a href="/login">Đăng nhập</a></h1>
}
@token
@code {
    private string token = "";
    private string id = "";
    [Inject]
    private IConsumeAPIService consumeAPIService { get; set; }

    protected override void OnInitialized()
    {
        try
        {
            var uri = new Uri(NavigationManager.Uri);
            var queryParameters = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

            if (queryParameters.TryGetValue("token", out var tokenValue))
            {
                token = Uri.UnescapeDataString(tokenValue);
            }

            if (queryParameters.TryGetValue("id", out var emailValue))
            {
                id = Uri.UnescapeDataString(emailValue.First());
            }

            @if (!(string.IsNullOrEmpty(token) & string.IsNullOrEmpty(id)))
            {
                consumeAPIService.GetAsync($"authen/verify-email?token={token}&userid={id}");
                ToastService.ShowInfo("Đã xác thực thành công");
            }
        }
        catch (Exception)
        {

            ToastService.ShowError("Có lỗi xảy ra");
        }
        
    }
}