﻿body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f2f2f2;
    padding: 20px;
}

.content {
    flex: 1;
    padding: 20px;
}

form {
    max-width: 400px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: #45a049;
    }


.sidebar {
    background-color: #f8f9fa;
    height: 100%;
}

.sidebar-heading {
    padding: 20px 0;
    text-align: center;
    background-color: #343a40;
    color: #fff;
}

.list-group-item {
    border: none;
    background-color: transparent;
    color: #343a40;
    cursor: pointer;
}

    .list-group-item:hover {
        background-color: #e9ecef;
    }

.content {
    padding: 20px;
}
