﻿body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    margin-bottom: 10%;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

    .login-form h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .login-form .form-group {
        margin-bottom: 20px;
    }

    .login-form label {
        font-weight: bold;
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
        border-radius: 25px;
    }

    .login-form button[type="submit"] {
        border-radius: 25px;
    }
