﻿@page "/forget-password"
@using Blazored.Toast.Services
@using BookTour.Share.Model.DTOs
@using BookTour.MauiBlazor.Authentication
@using BookTour.MauiBlazor.IServices
@using Microsoft.AspNetCore.Components.Authorization
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IToastService ToastService
<div class="container">
    <div class="login-form">
        <h2>Login</h2>
        <EditForm Model="@forgetPasswordRequestDTO" OnValidSubmit="PerformForgetPassword">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="username">Email</label>
                <InputText @bind-Value="forgetPasswordRequestDTO.Email" type="text" class="form-control" id="username" placeholder="Enter your username" />
                <ValidationMessage For="@(()=> forgetPasswordRequestDTO.Email)" />
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
            </div>
        </EditForm>
      
    </div>
</div>
@code {
    [Inject]
    private IConsumeAPIService consumeAPIService { get; set; }
    [Inject]
    private NavigationManager navigationManager { get; set; }
    [Inject]
    private IJSRuntime jSRuntime { get; set; }
    private ForgetPasswordRequestDTO forgetPasswordRequestDTO = new ForgetPasswordRequestDTO();
    private string result;

    private async Task PerformForgetPassword()
    {
        try
        {
            var result = await consumeAPIService.PostAsync("authen/forget-password", forgetPasswordRequestDTO);
            var resultJson = JObject.Parse(result);
            ToastService.ShowInfo(resultJson["message"].ToString());
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }

    }
}