﻿@page "/"
@using BookTour.Share.Model.DTOs.Tour
@using BookTour.MauiBlazor.IServices
@using BookTour.MauiBlazor.Services
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq

<PageTitle>Home</PageTitle>

<!-- ======= Hero Section ======= -->
<BookTour.Razor.Component.Carousel></BookTour.Razor.Component.Carousel>
<!-- End Hero -->

<main id="main">

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">

            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3>We've created more than <span>200 websites</span> this year!</h3>
                    <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#">Request a quote</a>
                </div>
            </div>

        </div>
    </section>
    <!-- End Cta Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row portfolio-container">
                @if (!listItems.Any())
                {
                    <p>Loading ...</p>
                }
                else
                {
                    <BookTour.Razor.Component.Portfolio Items="listItems"></BookTour.Razor.Component.Portfolio>
                }
            </div>
        </div>
    </section>


</main><!-- End #main -->
@code {
    [Inject]
    private IConsumeAPIService consumeAPIService { get; set; }

    private bool IsLoading = false;
    IEnumerable<TourDTO> listItems = new List<TourDTO>();
    protected override async Task OnInitializedAsync()
    {
        var result = await consumeAPIService.GetALlTourAsync();
        var reultJson = JObject.Parse(result);
        listItems = JsonConvert.DeserializeObject<IEnumerable<TourDTO>>(reultJson["result"].ToString());

    }
}