﻿body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    margin-bottom: 12%;
}

h2 {
    color: #1ee359;
    font-weight: bolder;
}

.icon-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

    .icon-container i {
        color: #1ee359;
        --fa-beat-fade-opacity: 0.67;
        --fa-beat-fade-scale: 1.075;
    }

.notification {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .notification.success {
        color: #3c763d;
    }

    .notification i {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .notification p {
        font-size: 20px;
        margin: 0;
    }

.next-btn {
    margin-top: 20px;
    background-color: #1cff2f;
    color: #000;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

    .next-btn:hover {
        background-color: #059100;
    }
