﻿@using System.Web
@using Blazored.Toast.Services
@using BookTour.Share.Model.DTOs
@using BookTour.MauiBlazor.IServices
@using Microsoft.AspNetCore.WebUtilities
@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IToastService ToastService
@page "/authen/reset-password"


<PageTitle>Reset Password</PageTitle>

<div class="container">
    <div class="login-form">
        <h2>Login</h2>
        <EditForm Model="@resetPasswordModel" OnValidSubmit="HandleResetPassword">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="newpassword">New Password:</label>
                <input @bind="resetPasswordModel.NewPassword" class="form-control" id="newpassword" placeholder="Enter your password" />
                <ValidationMessage For="@(()=> resetPasswordModel.NewPassword)" />
            </div>
            <div class="form-group">
                <label for="confirmpassword">Confirm Password:</label>
                <input @bind="resetPasswordModel.ConfirmPassword" class="form-control" id="confirmpassword" placeholder="Enter your password" />
                <ValidationMessage For="@(()=> resetPasswordModel.ConfirmPassword)" />
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary btn-block">Reset Password</button>
            </div>
        </EditForm>
    </div>
</div>
@resetPasswordModel.NewPassword

@if (!string.IsNullOrEmpty(message))
{
    <p>@message</p>
}

@code {
    private bool isLoading = true;
    private string message = "";
    private string token = "đang load";
    private string email = "";
    [Inject]
    private IConsumeAPIService consumeAPIService { get; set; }
    private ResetPasswordModel resetPasswordModel = new ResetPasswordModel();

    protected override void OnInitialized()
    {
        var uri = new Uri(NavigationManager.Uri);
        var queryParameters = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

        if (queryParameters.TryGetValue("token", out var tokenValue))
        {
            // Giải mã token
            var tokenRawValue = tokenValue.First().Replace(" ", "+");
            token = Uri.UnescapeDataString(tokenRawValue);
        }

        if (queryParameters.TryGetValue("email", out var emailValue))
        {
            // Giải mã email
            email = Uri.UnescapeDataString(emailValue.First());
        }
    }


    private async Task HandleResetPassword()
    {
        try
        {
            var resetPasswordRequest = new ResetPasswordDTO
                {
                    Email = email,
                    Token = token,
                    NewPassword = resetPasswordModel.NewPassword
                };
            var response = await consumeAPIService.PostAsync("authen/reset-password", resetPasswordRequest);
            message = response;
        }
        catch (Exception ex)
        {
            message = $"An unexpected error occurred: {ex.Message}";
        }
    }

    public class ResetPasswordModel
    {
        public string NewPassword { get; set; }

        [Compare("NewPassword", ErrorMessage = "The new password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; }
    }
}
