﻿/* Base styles */
.container-fluid {
    padding: 0 15px; /* Adjust padding for fluid containers */
}

.row {
    margin: 0 -15px; /* Adjust row margins for a tighter layout */
}

/* Enhance button and price alignment and responsiveness */
.btn-narrow {
    padding: 5px 10px; /* Smaller padding for smaller buttons */
    margin-right: 10px; /* Space between buttons and price */
}

.price-next-to-button {
    line-height: 2.5; /* Vertically align text with button */
    display: inline-block;
}

/* Tour details styling */
.tour-details {
    font-size: 0.9rem; /* Adjust base font size for details section */
}

/* Gallery container adjustments for responsiveness */
.gallery-container {
    padding: 15px;
}

@media (max-width: 768px) {
    /* Adjustments for smaller screens */
    .container-fluid, .gallery-container {
        padding: 0;
    }

    .col-4, .col-6, .col-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .btn-narrow {
        margin: 10px 0; /* Stack buttons vertically with space */
    }

    .price-next-to-button {
        display: block; /* Move price below button on small screens */
        margin-bottom: 15px;
    }
}

/* Custom styles for other elements as needed */
