﻿@page "/payment/user/{Id}/{Email}"
@using Blazored.Toast.Services
@using BookTour.Share.Model.DTOs
@using BookTour.MauiBlazor.IServices
@using Microsoft.AspNetCore.Authorization
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@attribute [Authorize]
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block sidebar">
            <div class="sidebar-sticky">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/user/@(Id)">Thông tin cá nhân</a></li>
                    <li class="list-group-item"><a href="/payment/user/@(Id)/@(Email)">Lịch sử giao dịch</a></li>
                    <li class="list-group-item"><a href="/change-password/@(Email)/@(Id)">Đổi mật khẩu</a></li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="container">
                <h1>Lịch sử giao dịch</h1>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Số tiền</th>
                            <th>Phương thức thanh toán</th>
                            <th>Trạng thái</th>
                            <th>Ngày thanh toán</th>
                            <th>Chi tiết</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!Payments.Any())
                        {
                            <p>Loading</p>
                        }
                        else
                        {
                            @foreach (var item in Payments)
                            {
                                <tr>
                                    <td>@item.PaymentID</td>
                                    <td>@item.Amount</td>
                                    <td>@item.PaymentMethod</td>
                                    <td>@(item.IsCompleted == true ? "Đã thanh toán" : "Chưa thanh toán")</td>
                                    <td>@item.PaymentDate</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Email { get; set; }

    [Inject]
    private IToastService ToastService { get; set; }
    [Inject]
    private IConsumeAPIService ConsumeAPIService { get; set; }
    [Inject] private IJSRuntime jSRuntime { get; set; }

    private IEnumerable<PaymentDTO> Payments = new List<PaymentDTO>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ConsumeAPIService.SetBearerToken(await jSRuntime.InvokeAsync<string>("localStorage.getItem", "userToken"));
            var result = await ConsumeAPIService.GetAsync($"api/Payment/user/{Id}");
            var resultJson = JObject.Parse(result);
            Payments = JsonConvert.DeserializeObject<IEnumerable<PaymentDTO>>(resultJson["result"].ToString());
        }
        catch (Exception)
        {
            ToastService.ShowError("Có lỗi xảy ra");
        }


    }
}
