﻿@using BookTour.Wasm.Authentication
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims;

<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">nucuoi@fpt.com.vn</a></i>
            <i class="bi bi-phone d-flex align-items-center ms-4"><span>+0123456789 </span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
    </div>
</section>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

        <div class="logo">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <h1 class="text-light"><p>Nụ Cười Ép Bê Tê</p></h1>
            </NavLink>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <li><p class="active">Trang chủ</p></li>
                </NavLink>
                <NavLink class="nav-link" href="about">
                    <li><p>Giới thiệu</p></li>
                </NavLink>
                <NavLink class="nav-link" href="tours">
                    <li><p>Tours</p></li>
                </NavLink>
                <AuthorizeView>
                    <NotAuthorized>
                        <NavLink class="nav-link" href="register">
                            <li><p style="font-weight: 900;">Đăng ký</p></li>
                        </NavLink>
                        <NavLink class="nav-link" href="login">
                            <li><p style="font-weight: 900;">Đăng nhập</p></li>
                        </NavLink>
                    </NotAuthorized>
                    <Authorized>
                        <NavLink class="nav-link" @onclick="HandleUserDetail">
                            <li><p class="custom" style="font-weight: 900;">Trang cá nhân</p></li>
                        </NavLink>
                        <NavLink class="nav-link" @onclick="Logout">
                            <li><p class="custom" style="font-weight: 900;">Đăng xuất</p></li>
                        </NavLink>
                    </Authorized>
                </AuthorizeView>
            </ul>

            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
@code {
    [Inject] private AuthenticationStateProvider AuthenticationStateProvider { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }
    [Inject] private IJSRuntime jSRuntime { get; set; }
    public string accountId;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            accountId = await jSRuntime.InvokeAsync<string>("localStorage.getItem", "accountId");
        }
    }

    private void HandleUserDetail()
    {
        NavigationManager.NavigateTo($"/user/{accountId}");
    }

    private async Task Logout()
    {
        var authStateProvider = (CustomAuthenticationStateProvider)AuthenticationStateProvider;
        authStateProvider.MarkUserAsLoggedOut();
        NavigationManager.NavigateTo("/login");
    }
}