﻿@using Blazored.Toast
@using Blazored.Toast.Configuration
@inject IJSRuntime JSRuntime
@inherits LayoutComponentBase
<Navbar></Navbar>
<div class="page">
    <main>
        <article class="content px-4" style="padding: 0 !important">
            @Body
        </article>
    </main>
</div>
<BookTour.Razor.Component.Footer_bottom></BookTour.Razor.Component.Footer_bottom>
<BlazoredToasts Position="ToastPosition.TopLeft"
                Timeout="2"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"
                ShowCloseButton="false"></BlazoredToasts>
