﻿
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    background: #f8f6f5;
    padding: 10px 0;
    font-size: 14px;
}

    #topbar .contact-info i {
        font-style: normal;
        color: #03d133;
    }

        #topbar .contact-info i a,
        #topbar .contact-info i span {
            padding-left: 5px;
            color: #2b2320;
        }

        #topbar .contact-info i a {
            line-height: 0;
            transition: 0.3s;
        }

            #topbar .contact-info i a:hover {
                color: #03d133;
            }

    #topbar .social-links a {
        color: #65534c;
        line-height: 0;
        transition: 0.3s;
        margin-left: 15px;
    }

        #topbar .social-links a:hover {
            color: #03d133;
        }


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #fff;
}

    #header.fixed-top {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    }

    #header .logo h1 {
        font-size: 28px;
        margin: 0;
        padding: 10px 0;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

        #header .logo h1 p,
        #header .logo h1 p:hover {
            color: #2b2320;
            text-decoration: none;
        }

    #header .logo img {
        padding: 0;
        margin: 0;
        max-height: 40px;
    }

.scrolled-offset {
    margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}

    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navbar li {
        position: relative;
    }

    .navbar p,
    .navbar p:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 20px;
        font-size: 13px;
        color: #65534c;
        white-space: nowrap;
        text-transform: uppercase;
        transition: 0.3s;
    }

        .navbar p i,
        .navbar p:focus i {
            font-size: 12px;
            line-height: 0;
            margin-left: 5px;
        }

        .navbar p:hover,
        .navbar .active,
        .navbar .active:focus,
        .navbar li:hover > p {
            color: #03d133;
        }

    .navbar .getstarted,
    .navbar .getstarted:focus {
        background: #03d133;
        padding: 8px 20px;
        margin-left: 30px;
        border-radius: 4px;
        color: #fff;
    }

        .navbar .getstarted:hover,
        .navbar .getstarted:focus:hover {
            color: #fff;
            background: #fd490f;
        }

    .navbar .dropdown ul {
        display: block;
        position: absolute;
        left: 14px;
        top: calc(100% + 30px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
    }

        .navbar .dropdown ul li {
            min-width: 200px;
        }

        .navbar .dropdown ul a {
            padding: 10px 20px;
            font-size: 13px;
            text-transform: none;
            font-weight: 500;
            color: #581601;
        }

            .navbar .dropdown ul p i {
                font-size: 12px;
            }

            .navbar .dropdown ul p:hover,
            .navbar .dropdown ul .active:hover,
            .navbar .dropdown ul li:hover > p {
                color: #03d133;
            }

    .navbar .dropdown:hover > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navbar .dropdown .dropdown ul {
        top: 0;
        left: calc(100% - 30px);
        visibility: hidden;
    }

    .navbar .dropdown .dropdown:hover > ul {
        opacity: 1;
        top: 0;
        left: 100%;
        visibility: visible;
    }

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #2b2320;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

    .mobile-nav-toggle.bi-x {
        color: #fff;
    }

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(14, 11, 10, 0.9);
    transition: 0.3s;
    z-index: 999;
}

    .navbar-mobile .mobile-nav-toggle {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .navbar-mobile ul {
        display: block;
        position: absolute;
        top: 55px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        padding: 10px 0;
        background-color: #fff;
        overflow-y: auto;
        transition: 0.3s;
    }

    .navbar-mobile a,
    .navbar-mobile a:focus {
        padding: 10px 20px;
        font-size: 15px;
        color: #581601;
    }

        .navbar-mobile a:hover,
        .navbar-mobile .active,
        .navbar-mobile li:hover > a {
            color: #03d133;
        }

    .navbar-mobile .getstarted,
    .navbar-mobile .getstarted:focus {
        margin: 15px;
    }

    .navbar-mobile .dropdown ul {
        position: static;
        display: none;
        margin: 10px 20px;
        padding: 10px 0;
        z-index: 99;
        opacity: 1;
        visibility: visible;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    }

        .navbar-mobile .dropdown ul li {
            min-width: 200px;
        }

        .navbar-mobile .dropdown ul a {
            padding: 10px 20px;
        }

            .navbar-mobile .dropdown ul a i {
                font-size: 12px;
            }

            .navbar-mobile .dropdown ul a:hover,
            .navbar-mobile .dropdown ul .active:hover,
            .navbar-mobile .dropdown ul li:hover > a {
                color: #03d133;
            }

    .navbar-mobile .dropdown > .dropdown-active {
        display: block;
    }
